# OS files
.DS_Store
Desktop.ini
._*
Thumbs.db
.Spotlight-V100
.Trashes
*~
*.swp
*.jdebug

# builds
**/build/
**/.dep/

.interface.md
inc/i2c_interface_addr.h
src/i2c_interface_gen.c

# Obj files
*.o

# Tests
test/data_test/
test/target_computation
